* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.upper {
  background-color: #3367d6;
  padding: 20px;
  display: flex;
}

.history-logo {
  align-items: center;
  margin-right: 300px;
}

.search-bar {
  align-items: center;
  background-color: #2850a7;
  height: 35px;
  width: 350px;
  display: flex;
}

.search-icon {
  align-items: center;
  padding: 10px;
}

.search-input {
  background-color: #2850a7;
  color: #ececec;
  padding: 5px;
  border: 0px solid;
  padding: 10px;
  align-items: center;
  height: 30px;
  flex-grow: 3;
}

.lower {
  padding: 30px;
  background-color: #ffffff;
}

.listed {
  border-radius: 10px;
  box-shadow: 10px 2px 5px 5px #f8fafc;
}
